<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoneyAnalizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MoneyAnalizer.Properties.Settings>
            <setting name="saldo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxSaldo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastExpense" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastRevenue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sumExpense" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sumRevenue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cashFlow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxExpense" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxRevenue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AwatarID" serializeAs="String">
                <value>1</value>
            </setting>
        </MoneyAnalizer.Properties.Settings>
    </userSettings>
</configuration>